.nav {
    padding: 10px 10px 50px;
    background-color: #302c2c;

    .nav-icon {
        float: left;
        color: #ffffff;
        font-size: 22px;
    }

    ul {
        float: right;

        li {
            float: left;
            margin-right: 20px;
            list-style-type: none;

            a {
                text-decoration: none;
                color: #ffffff;
                font-size: 17px;
            }

            a.active-link {
                color: #e9980b;
            }

            a:hover {
                color: #bb9046;
                cursor: pointer;
            }
        }
    }
}

.clearfix {
    display: block;
    clear: both;
    content: "";
}

@media screen and (min-width: 768px) and (max-width: 1160px) {
    .nav {
        padding: 1.302vw 1.302vw 6.51vw;
        .nav-icon{
            font-size: 2.865vw;
        }
        ul {


            li {

                margin-right: 2.604vw;


                a {

                    font-size: 2.214vw;
                }

            }
        }
    }
}

@media screen and (max-width:767.9px) {
    .nav {
        padding: 1.563vw 1.563vw 15.813vw;
        .nav-icon{
            font-size: 3.438vw;
        }
        ul {


            li {

                margin-right: 3.125vw;


                a {

                    font-size: 2.656vw;
                }


            }
        }
    }
}